#0A2647
#155272
#205295
#2C74B3

/* Da bi blue_theme.css fukcionisao potrebno je da unutar <head></head>
ispod style.css napisete sledeci kod <link rel="stylesheet" href="blue_theme.css">
 */
body {
  background-color: #0A2647  !important;
}



header {
  background-color:#155272;
  -webkit-box-shadow: 0px 13px 23px 0px rgba(21,46,110,1);
-moz-box-shadow: 0px 13px 23px 0px rgba(21,46,110,1);
box-shadow: 0px 13px 23px 0px rgba(21,46,110,1);
}



footer {
  background-color: #155272; 
  -webkit-box-shadow: 0px -8px 23px 0px rgba(21,46,110,1);
-moz-box-shadow: 0px -8px 23px 0px rgba(21,46,110,1);
box-shadow: 0px -8px 23px 0px rgba(21,46,110,1);
}

h1,h2,h3 {
  color: #FFF;
}


p {
  color: #FFF;
}

a {
  color: #FFF;

}

hr {
  
  border-color: #a6b4b4;

}

img {
  -webkit-box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
  -moz-box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
  box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
}

li:nth-child(2n){
  background-color: #205295;
  margin: 0 auto;
  width: 50%;
  color: #FFF;
  -webkit-box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
  -moz-box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
  box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
}

li:nth-child(2n+1){
  background-color: #2C74B3;
  color: #FFF;
  -webkit-box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
  -moz-box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
  box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
}

form {
  
  background-color: #2C74B3;
  color: #fff;

 /* Shadow */
 -webkit-box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
 -moz-box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
 box-shadow: 0px 2px 36px 0px rgba(21,46,110,1);
}

form input {
  background-color: #f0f5f5;
  
}


form button {
  background-color: #0A2647;

  color: #E9E8E8;
 
}

form button:hover {
  background-color: #081f3a;
}

form button:active {
  background-color: #E9E8E8;
  color: #0A2647;
}

/* CLASSES */



.end-tag {
  margin-bottom: 0;
  color: #EAF6F6;
  margin-top: 40px;
}
