* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  margin: 20px;
  text-align: left;
  width: 50%;
}

tr {
  
  width: 100px;
}

.table1 tr:nth-child(3) {
  background-color: yellow;
}

.table2 td:nth-child(3),.table2 th:nth-child(3) {
  background-color: yellow;
}

.table1 tr:nth-child(odd){
  font-style: italic;
}

.table2 t:nth-child(even):hover,th:nth-child(even):hover {
  background-color: yellow;
}
.table2 tr:nth-child(3n) {
  background-color: blue;
}
