*  {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  width: 100%;
  overflow: hidden;
}

.padding {
  padding-left: 20px;
  padding-top: 20px;
}

img {
  width: 100%;
}

[class*="col-"] {
  float: left;
}

/* MOBILINI */




[class*="col-"] {
  width: 100%;
}

.empty{
  width: 100%;
  background-color: white;
  height: 1px;
}


.dropdown {
  display: none;
}

.col-3 ul:first-child:hover .dropdown {
  display: block;
}
.col-4 ul:first-child:hover .dropdown {
  display: block;
}
.col-5 ul:first-child:hover .dropdown {
  display: block;
}


.inv-m {
  display: none;
}

ul {
  background-color: rgb(44, 85, 219);
  
  width: 100%;
  overflow: hidden;
}

ul li {
  float: none;
  width: 100%;
  border-top: 1px solid white;
  
}
.col-7 a {
  background-color: rgb(207, 203, 203);
  border-bottom: 5px white solid;
  color: black;
  padding: 10px;

  
}

/* TABLET */

@media only screen and (min-width:600px) {
  .col-t-1 {
    /* width: 8.33%; */
    width:  calc(100%/12);
  }
  .col-t-2 {
    width:  calc(100%/12*2);
  }
  .col-t-3 {
    width:  calc(100%/12*3);
  }
  .col-t-4 {
    width:  25%;
  }
  .col-t-5 {
    width:  calc(100%/12*5);
  }
  .col-t-6 {
    width:  50%;
  }
  .col-t-7 {
    width:  calc(100%/12*7);
  }
  .col-t-8 {
    width:  calc(100%/12*8);
  }
  .col-t-9 {
    width:  calc(100%/12*9);
  }
  .col-t-10 {
    width:  calc(100%/12*10);
  }
  .col-t-11 {
    width:  calc(100%/12*11);
  }
  .col-t-12 {
    width: 100%;
  }
}


/* DESKTOP */

@media only screen and (min-width: 1000px) {
  .col-1 {
    /* width: 8.33%; */
    width:  calc(100%/12);
  }
  .col-2 {
    width:  calc(100%/12*2);
  }
  .col-3 {
    width:  calc(100%/12*3);
    
  }
  .col-4 {
    width:  calc(100%/12*4);
  }
  .col-5 {
    width:  calc(100%/12*5);
  }
  .col-6 {
    width:  50%;
  }
  .col-7 {
    width:  calc(100%/12*7);
  }
  .col-8 {
    width:  calc(100%/12*8);
  }
  .col-9 {
    width:  calc(100%/12*9);
  }
  .col-10 {
    width:  calc(100%/12*10);
  }
  .col-11 {
    width:  calc(100%/12*11);
  }
  .col-12 {
    width: 100%;
  }

  .dropdown {
    display: block;
  }

  .inv-m {
    display: block;
  } 
  ul {
    padding: 5px;
  }
    
  ul li  {
    float: left;
    list-style-type: none;
    width: 11%;
    border-top: 0;
  }

}





header {
  text-align: center;
  color: rgb(44, 85, 219);
}







h2 {
  font-size: 1.9rem;
  color: rgb(43, 62, 126);
  
}

h3 {
  font-size: 1.7rem;
  margin: 7px;
}



a {
 
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  padding: 5px;
  display: block;
  font-weight: bold;
  text-decoration: none;
 
}

label {
  font-size: 1.3rem;
  margin: 5px 0;
}

label, input  {
  display: block;
}

input,textarea {
  width: 100%;
}

input[type="submit"] {
  width: max-content;
  padding: 5px 8px;
  background-color: rgb(46, 111, 196);
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 4px;
}

.divin {
  display: inline;
}